
<div class='container' >
    <div class="col-xs-12 col-sm-10 col-sm-offset-1">
      <br>
        <h1>Your Application</h1>
                  <table class="table">
                    <tbody>
                      <tr>
                        <th scope="row">User</th>
                        <td><%= @application.user.name %></td>
                      </tr>
                      <tr>
                        <th scope="row">Pet</th>
                        <td><%= @application.pet.id%></td>
                      </tr>
                      <tr>
                        <th scope="row">More about you</th>
                        <td><%= @application.requirements %></td>
                      </tr>
                    </tbody>
                  </table>
      </div>
      <li class="list-group-item" >
        <%= link_to "Delete application", application_path(@application) ,  data: {turbo_method: :delete, turbo_confirm: "Are you sure?", turbo: true}, :class => "btn-ghost", notice: "your application has been cancelled" %>
        <br>
        <%= link_to "See All Of Your Applications", applications_path %>
      </li>
      <div>

      </div>
</div>
