<div class="sign-up-container py-5 center">
  <div class="row">
    <div class="col-12 col-md-6 lg-3" >
      <div class="bg-beaublue rounded p-3" >
      <%= simple_form_for @pet do |f| %>
          <%= f.input :name %>
          <%= f.input :species %>
          <%= f.input :breed %>
          <%= f.input :age %>
          <%= f.input :location %>
          <%= f.input :sex %>
          <%= f.input :size %>
          <%= f.input :description, label: "Please provide a description of the pet being listed for adoption. For example, the animal's background, temperament and reasons for rehoming." %>
          <%= f.input :needs_garden %>
          <%= f.input :adopted %>
          <%= f.input :photo,
            label: "Please upload a photo of your pet.",
            as: :file %>
          <%= f.submit class: "btn-ghost" %>
        <% end %>
      </div>
    </div>
  </div>
</div>
