<div data-controller="filter-search">

      <button type="button" class="btn btn-light"
        data-action="click->filter-search#show"
        data-filter-search-target="hideButton"> Filter Search
     </button>

    <div class="filter-search-dropdown-form d-none"
          data-filter-search-target="dropdown">

          <%= form_with url: "/pets", method: :get do |form| %>
            <%= form.label  :species, "species" %>
            <%= form.select :species, Pet.select(:species).distinct.pluck(:species).unshift(""), id: "tom-select-it" %>
            <%= form.label  :breed, "breed" %>
            <%= form.select :breed, Pet.select(:breed).distinct.pluck(:breed).unshift(""), id: "tom-select-it" %>
            <%= form.label  :age, "age" %>
            <%= form.select :age, Pet.select(:age).distinct.pluck(:age).sort.unshift("") %>
            <%= form.label  :size, "size" %>
            <%= form.select :size, Pet.select(:size).distinct.pluck(:size).unshift("") %>
            <%= form.label  :sex, "sex" %>
            <%= form.select :sex, ["", "female", "male" ] %>
            <%= form.submit "Search" %>
          <% end %>


          <button type="button" class=" close btn btn-link" data-action="click->filter-search#hide">
          close </button>
    </div>
          <p> <%= link_to "refresh search", pets_path %> </p>


  <h1>Check out our available pets...</h1>

  <div class="cards">
  <% @pets.each do |pet| %>
    <%= link_to pet_path(pet), class: "card", data: {filter_search_target: "pet", sex: pet.sex, species: pet.species, size: pet.size} do %>
        <% if pet.species == "" %>
          <%= image_tag "dog.jpg", class: "card__image" %>
        <% else %>
          <%= image_tag "#{pet.species.parameterize}.jpg", class: "card__image" %>
        <% end %>
        <div class="card__overlay">
          <div class="card__header">
            <svg class="card__arc" xmlns="http://www.w3.org/2000/svg"><path /></svg>
            <img class="card__thumb" src="https://i.imgur.com/7D7I6dI.png" alt="" />
            <div class="card__header-text">
                <h3 class="card__title"><% pet.name %></h3>
                <%# <i class="fa-solid fa-user-tie"></i> %>
                <p><%= pet.species %></p>
                <p> <%= pet.sex %> </p>
                <span class="card__status"><%= pet.location %></span>
            </div>
          </div>
            <p class="card__description"><p class="card-text">Breed: <%= pet.breed %></p>
            <p class="card-text">Age: <%= pet.age %></p></p>
            <p class="card-text">Size: <%= pet.size %></p></p>
          </div>
    <% end %>
  <% end %>
  </div>

</div>
