<div class="sign-up-container py-5 center">
  <div class="row">
    <div class="col-12 col-md-6 offset-lg-3" >
      <div class="bg-beaublue rounded p-3" >
      <h2 align="center">Tell us all about your pet for adoption!</h2>
        <%= simple_form_for @pet do |f| %>
          <%= f.input :name, required: true, placeholder: '' %>
          <%= f.input :species, :collection => ["Cat", "Dog", "Rabbit", "Hamster", "Bird"], prompt: "Add a category" %>
          <%= f.input :breed, required: true, placeholder: '' %>
          <%= f.input :age, required: true, label: "Age" %>
          <%= f.input :location, required: true, placeholder: '' %>
          <%= f.input :sex, required: true, placeholder: '' %>
          <%= f.input :size, :collection => ["Small", "Medium", "Large"], required: true %>
          <%= f.input :description, label: "Please provide a description of the pet being listed for adoption. For example, the animal's background, temperament and reasons for rehoming." %>
          <%= f.input :needs_garden, label: "Needs a garden?" %>
          <%= f.input :photo,
                      label: "Please upload a photo of your pet.",
                      as: :file %>
          <%= f.submit class: 'btn-ghost' %>
        <% end %>
      </div>
    </div>
  </div>
</div>
