<div class="main-show-details">
  <div class="pet-details-container">
    <div class="pet-details">
      <%# <%="Universal show: this wil show for all types of users!" %>
      <h2 class="pet-show-name-header"><%= @pet.name.capitalize %></h2>
      <div class="pet-infos">
        <div align="center">
          <% if @pet.photo.attached? %>
            <%= cl_image_tag @pet.photo.key, class: "img" %>
          <% else %>
            <%= image_tag "#{@pet.species.downcase}.jpg", class: "img" %>
          <% end %>
        </div>
        <strong><p> <%= @pet.breed.capitalize %></p></strong>
        <p> <%= @pet.description %></p>
        <p> Age: <%= @pet.age %></p>
        <p> Location: <%= @pet.location %></p>

        <div class="align-needs-garden-items" style="display: flex;">
          <p> Needs a garden?     </p>
            <% if @pet.needs_garden == true %>
              <i class="fa-solid fa-circle-check align-check"></i>
            <% else %>
              <i class="fa-solid fa-circle-xmark align-check"></i>
            <% end %>
        </div>
        <p> Size: <%= @pet.size.capitalize %></p>
        <%# user has not applied for this pet and they are not an editor (only favourites styling inside) %>
        <% if @pet.applications.where(user: current_user).count == 0 && current_user.can_edit_pet?(@pet) == false %>
          <div>
            <% if current_user.favourites.where(pet: @pet).count > 0 %>
              <%= link_to "Check out your favourite pets!", favourites_path %> <%# if user has favourites, show links to all favourites and link to delete favourite  %>
              <br>
              <%= link_to favourite_path(current_user.favourites.where(pet: @pet).first), data: {turbo_method: :delete, turbo_confirm: "Are you sure you wish to remove this pet as a favourite?"}, class: 'favourite-btn' do%>
                <i class="fa-solid fa-star"></i>
              <% end %>
            <% else %> <%#if no favourites, show the create favourite button %>
              <%= simple_form_for [@pet, @favourite] do |f| %>
                <%= button_tag(type: 'submit', class: 'favourite-btn')  do %>
                  <i class="fa-regular fa-star"></i>
                <% end %>
              <% end %>
            <% end %>
          </div>
        <% end %>
      </div>
    </div>

    <div class="adoption-details">
      <div class="price-button">
        <span>
          <button>Adoption Fee: £<%= @pet.adoption_fee? ? @pet.adoption_fee : 0 %></button>
        </span>
      </div>
      <div class="profile-card">
        <div class="card-trip-infos">
          <h2>Listed by <%=@pet.user.name %></h2>
          <% if @pet.user.photo.attached? %>
            <%=cl_image_tag current_user.photo.key, class: "avatar dropdown-toggle", id: "navbarDropdown", data: { bs_toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false  %>
          <% else %>
            <%= image_tag "default-user-icon.png", class: "avatar dropdown-toggle", id: "navbarDropdown", data: { bs_toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
          <% end %>
        </div>
      </div>
      <br>
      <p><strong> About <%= @pet.user.name %></strong></p>
      <p><%= @pet.user.description  %></p>
      <% if @pet.applications.where(user: current_user).count == 0 && current_user.can_edit_pet?(@pet) == false %>
        <div class="apply-button">
          <a href= "#new_application"> <button class="delete-fav-btn button-1 button-1-hover" role="button">Apply to Adopt</button></a>
        </div>
      <% end %>
    </div>
    <%# d-flex justify-content-center %>
    <div class="adoption-details-map"
      data-controller="map"
      data-map-markers-value="<%= @markers.to_json %>"
      data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
    </div>
    <div class="adoption-form">

      <%# <%= "current user has not applied for this pet, and is not an editor" (show adoption form) %>
      <% if @pet.applications.where(user: current_user).count == 0 && current_user.can_edit_pet?(@pet) == false %>
        <div>
          <h3 class="pet-show-name-header">Apply to adopt this pet!</h3>
          <p class="mg"><strong>Interested in adopting? Great news!</strong></p>
              <p class="mg">Please fill out your details in the form below, and we will send your application to the rescue/owner for review.</p>
          <br>
          <%= simple_form_for [@pet, @application] do |f| %>
            <%= f.input :applicant_name, required: true, label: "Name" %>
            <%= f.input :applicant_age, required: true, label: "Age" %>
            <%= f.input :applicant_address, label: "Address" %>
            <%= f.input :applicant_household, label: "Please provide an overview of your household members." %>
            <%= f.input :applicant_pets, label: "Do you have any existing pets? If so, please provide details." %>
            <%= f.input :applicant_home, label: "Are you in rented accommodation or do you own your home? If rented, do you have your landlord's permission to adopt a pet?" %>
            <%= f.input :applicant_hours, label: "Please confirm your typical working hours, and the amount of time any pet would be left at home unattended." %>
            <%= f.input :applicant_garden, required: true, label: "Does your home have a private garden? Please provide details." %>
            <%= f.input :additional_information, label: "You can use the below space to tell us a bit more about yourself and why you wish to adopt this pet.", placeholder: "This is your chance to sell yourself! Any extra information you can give here will help us determine if this is a good match. For example, to increase your changes of being selected for a homecheck, we advise including details of any past experience you have which may help with the animal you are applying to adopt.", input_html: { rows: 8 } %>
            <div class="d-flex justify-content-center">
              <%= f.button :button, "APPLY TO ADOPT #{@pet.name.capitalize}", class: 'button-1 button-1-hover' %>
            </div>
          <% end %>
        </div>
      <% else %> <%# current user has applied for this pet / current user is an editor %>
        <% if current_user.can_edit_pet?(@pet) == true %> <%# current user is an editor (show editor options)  %>
          <br>
          <br>
          <br>
          <br>
          <br>
          <div class="center-btns">
            <%= link_to "Edit this pet", edit_pet_path(@pet), class: "delete-fav-btn change-width review-btn-green" %>
            <%= link_to "Remove this pet", pet_path(@pet), data: {turbo_method: :delete, turbo_confirm: "Are you sure you wish to remove this pet for adoption?"}, class: "delete-fav-btn change-width cancel-btn-red" %>
          </div>
          <br>
          <br>
          <br>
          <br>
          <br>
          <div align="center">
          <% if @pet.applications.count == 0 %> <%# editor with no applications for their pet %>
              <h3 style="margin-top: -42%">There are currently no pending applications for this pet</h3>
          <% else %> <%# editor with applications for their pet  %>
            <h3> <%= "You currently have #{@pet.applications.count} application(s) for your pet" %></h3>
            <ul class="list-group mb-3">
              <% @pet.applications.each do |application| %>
                <li class="list-group-item">
                <% if application.validated %>
                  <% if application.approved %>
                    <h3> Your approved applications</h3>
                    <h4><%= application.user.name %></h4>
                    <h5><%= application.requirements %></h5>
                    <br>
                    <br>
                    <p>Click here to start messaging your pet's future owner!</p>
                    <%= link_to "Start Messaging", application_path(application), class: "delete-fav-btn" %>
                    <br>
                    <br>
                    <br>
                    <br>
                    <p>Let us know when this pet has been adopted!</p>
                    <br>
                  <% else %>
                    <h3>Applications you have denied</h3>
                    <h4><%= application.user.name %></h4>
                    <h5><%= application.requirements %></h5>
                    <br>
                  <% end %>
                <% else %>
                  <%= application.validated ? "true" : "false" %>
                  <h3>Your pending applications</h3>
                  <%= application.user.name %>
                  <br>
                  <br>
                  <%= application.requirements %>
                  <h3><%= "Approve or deny #{application.user.name}'s application below!" %></h3>
                  <%= simple_form_for [@pet, application] do |f| %>
                    <%= f.input :approved, :as => :hidden, required: true, class: 'delete-fav-btn', :input_html=> {:value => true} %>
                    <%= f.submit class: 'delete-fav-btn', value: "Accept" %>
                  <% end %>
                  <%= simple_form_for [@pet, application] do |f| %>
                    <%= f.input :approved, :as => :hidden, required: true, class: 'delete-fav-btn', :input_html=> {:value => false} %>
                    <%= f.submit class: 'delete-fav-btn', value: "Decline" %>
                  <% end %>
                <% end %>
                </li>
              <% end %>
            </ul>
          <% end %>
        <% else %> <%# current user has applied for the pet, but is not an editor %>
          <div align="center">
            <h3 style="margin-top: 50px">You have already applied to adopt <%= @pet.name %></h3>
                <% if @pet.applications.where(user: current_user).first.validated && @pet.applications.where(user: current_user).first.approved %>
                    <%= image_tag "app-approved.png", class: "pet-show-app-icon" %>
                        <p>APPLICATION APPROVED</p>
                            <%= link_to "Message #{@pet.name}'s owner", application_path(@pet.applications.where(user: current_user).first), :class => "delete-fav-btn" %>
                <% elsif @pet.applications.where(user: current_user).first.validated && @pet.applications.where(user: current_user).first.approved === false %>
                      <%= image_tag "app-denied.png", class: "pet-show-app-icon" %>
                        <br>
                          <br>
                            <p>SORRY - NOT A MATCH</p>
                                <%= link_to "See other pets waiting for homes", pets_path, class: 'delete-fav-btn' %>
                <% else %>
                          <%= image_tag "app-pending.png", class: "pet-show-app-icon" %>
                            <p>APPLICATION PENDING</p>
                                  <%= link_to "Review your application", application_path(@pet.applications.where(user: current_user).first), method: "get", :class => "delete-fav-btn review-btn-green" %>
                                      <%= link_to "Cancel your application", application_path(@pet.applications.where(user: current_user).first), data: {turbo_method: :delete, turbo_confirm: "Are you sure you wish to cancel your application for this pet?"}, :class => "delete-fav-btn cancel-btn-red" %>
                                          <%= link_to "See all available pets", pets_path, class: 'delete-fav-btn' %>
                <% end %>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
