<div class="main-show-details">
  <div class="pet-details-container">
    <div class="pet-details">

      <%# <%="Universal show: this wil show for all types of users!" %>
      <h2 class="pet-show-name-header"><%= @pet.name.capitalize %></h2>
      <div class="pet-infos">
          <p> <%= @pet.breed.capitalize %></p>
          <p> Age: <%= @pet.age %></p>
          <p> Location: <%= @pet.location %></p>

<%# <%= "Adopter not applied show: current user has no applications for this pet and current user does not own this pet" %>
<% if @pet.applications.where(user: current_user).count == 0 && @pet.user != current_user %>
        <% if current_user.favourites.where(pet: @pet).count > 0 %>
          <%= link_to "Check out your favourite pets!", favourites_path %> <%# if user has favourites, show links to all favourites and link to delete favourite  %>
          <br>
          <%= link_to "Unfavourite", favourite_path(current_user.favourites.where(pet: @pet).first), data: {turbo_method: :delete, turbo_confirm: "Are you sure you wish to remove this pet for adoption?"} %>
        <% else %> <%#if no favourites, show the create favourite button %>
          <%= simple_form_for [@pet, @favourite] do |f| %>
            <%= f.submit class: 'button-2' %>
          <% end %>
        <% end %>
      </div>
    </div>

    <div class="adoption-form">

      <%# <%= "Adopter applied or not applied show: current user has not applied for this pet, or current user has applied for this pet " %>
      <% if @pet.applications.where(user: current_user).count == 0 %>
        <div class="pet-details" style="color: black;">
          <h3 class="pet-show-name-header">Apply to adopt this pet!</h3>
          <%= simple_form_for [@pet, @application] do |f| %>
            <%= f.input :requirements, required: true %>
            <%= f.submit class: 'button-2' %>
          <% end %>
        </div>
      <% else %>
        <p>You have already applied to adopt <%= @pet.name %></p>
        <%= link_to "Available pets", pets_path %>
        <%= link_to "Edit your application here", edit_pet_application_path(@pet, @pet.applications.first) %>
      <% end %>
    </div>
  </div>
  <div class="adoption-details">
    <div class="price-button">
        <button class="button-1">Adoption Fee: £<%= @pet.adoption_fee %></button>
    </div>
    <div class="apply-button">
        <a href= "#new_application"> <button class="button-2" role="button">Apply to Adopt</button></a>
    </div>
    <div class="rescue-profile">
    </div>
  </div>

  <div style="width: 500px; height: 500px;"
    data-controller="map"
    data-map-markers-value="<%= @markers.to_json %>"
    data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
  </div>

</div>

<%# <%= "outside of main show details div also outside of mapbox html rendering currently" %>
<%# <%= "Adopter applied show: if the pet shown is not the current user's, but they have previously applied to adopt it" %>
<% elsif @pet.user != current_user %>
  <p>You have already applied to adopt <%= @pet.name %></p>
  <%= link_to "Available pets", pets_path %>
  <%= link_to "Edit your application here", edit_pet_application_path(@pet, @pet.applications.first) %>


  <%# <%= "Owner show: if the pet shown is the current users!" %>
<% else  %>
  <%# <%= "Owner show: This will only show if you own this pet" %>
  <%= link_to "Edit", edit_pet_path(@pet), class: "btn-ghost", style: "display: block;" %>
  <%= link_to pet_path(@pet), data: {turbo_method: :delete, turbo_confirm: "Are you sure you wish to remove this pet for adoption?"} do %>
  <i class="fa-solid fa-trash-can"></i>
  <% end %>
  <% if @pet.applications.count == 0 %>
    <p> "there are currently no applications for this pet"</p>
  <% else %>
    <h3> <%= "You currently have #{@pet.applications.count} application(s) for your pet" %></h3>
    <ul class="list-group mb-3">
      <% @pet.applications.each do |application| %>
        <li class="list-group-item">
        <% if application.approved?  %>
          <h3>Your approved applications</h3>
          <%= application.user.name %>
          <br>
          <br>
          <%= application.requirements %>
        <% else %>
          <h3>Your pending applications</h3>
          <%= application.user.name %>
          <br>
          <br>
          <%= application.requirements %>
        <% end %>
        </li>
      <% end %>
    </ul>
  <% end %>

<% end %>
