      <h2><%= @pet.name  %></h2>
      <h2> <i> <%= @pet.species %> </i></h2>
      <p> Breed: <%= @pet.breed %></p>
      <p> Age: <%= @pet.age %></p>
      <p> Location: <%= @pet.location %></p>
  <% if @pet.user == current_user %>
      <%= link_to "Edit", edit_pet_path(@pet), class: "btn btn-ghost" %>
      <%= link_to pet_path(@pet), data: {turbo_method: :delete, turbo_confirm: "Are you sure you wish to remove this pet for adoption?"} do %>
      <i class="fa-solid fa-trash-can"></i>
    <% end %>
  <% end %>

<% if @pet.applications.where(user: current_user).count == 0 && @pet.user != current_user %>
        <% if current_user.favourites.where(pet: @pet).count > 0 %>
          <%= link_to "Check out your favourite pets!", favourites_path %>
          <br>
          <%= link_to "Unfavourite", favourite_path(current_user.favourites.where(pet: @pet).first), data: {turbo_method: :delete, turbo_confirm: "Are you sure you wish to remove this pet for adoption?"} %>
        <% else %>
          <%= simple_form_for [@pet, @favourite] do |f| %>
            <%= f.submit class: 'btn btn-ghost' %>
          <% end %>
        <% end %>
<%# pet application form  %>

<div class="container py-5">
  <div class="row">
    <div class="col-12 col-md-6 offset-lg-3">
      <div class="bg-white rounded p-3 shadow" style="color: black;">
        <h3>Apply to adopt this pet!</h3>
        <%= simple_form_for [@pet, @application] do |f| %>
          <%= f.input :requirements, required: true %>
          <%= f.submit class: 'btn btn-ghost' %>
        <% end %>
      </div>
    </div>
  </div>
</div>
<% elsif @pet.user != current_user %>
  <p>you have already applied to adopt <%= @pet.name %></p>
  <%= link_to "Available pets", pets_path %>
  <%= link_to "Edit your application here", edit_pet_application_path(@pet, @pet.applications.first) %>
<% else  %>
 <P>ADD SHOW APPLICATIONS HERE</P>
<% end %>
