<div  align="center">
  <div class="profile-container">
  <br>
  <div class="text-body">
    <h1>Welcome, <%= current_user.name %>!</h1>
      <p> <%= button_to("Edit your details", edit_user_registration_path(current_user), method: :get, :class => "btn-ghost") %>
        </p>
          <br>
            <% if @user.owned_pets_listed_for_adoption.any? %>
              <h2>Your pets listed for adoption:</h2>
                <br>
                  <ul class="list-group mb-3">
                      <div class="row">
                        <% @user.pets.each do |pet| %>
                        <div class="col-md-6 my-6">
                          <%= link_to pet_path(pet) do%>
                            <div class="card">
                              <% if pet.photo.attached? %>
                                <%=cl_image_tag pet.photo.key, class: "card-img-top" %>
                              <% else %>
                                <%= image_tag "default-image.png", class: "card-img-top" %>
                              <% end %>
                              <div class="card-body">
                                <h4 class="card-text">Name: <%= pet.name %></h4>
                                <p class="card-text">Species: <%= pet.species %></p>
                                <p class="card-text">Breed: <%= pet.breed %></p>
                                <p class="card-text">Age: <%= pet.age %></p>
                                  <div align="right">
                                    <%= link_to pet_path(pet), data: {turbo_method: :delete, turbo_confirm: "Are you sure you wish to remove this pet for adoption?"} do %>
                                        <i class="fa-solid fa-trash-can" ></i>
                                    <% end %>
                                  </div>
                              </div>
                            </div>
                        </div>
                        <% end %>
                      <% end %>
                      </div>
                </ul>
            <% else %>
                <h2> You currently don't have any pets listed for adoption!</h2>
            <% end %>
            <br>
            <div align="center">
              <%= link_to "Add a new pet for adoption", new_pet_path, class: 'btn-ghost' %>
            </div>
            <br>
        <br>
            <% if @user.favourites.any? %>
              <h2>Your favourite pets:</h2>
                <br>
                  <ul class="list-group mb-3">
                      <div class="row">
                        <% @user.favourites.each do |favourite| %>
                          <div class="col-md-6 my-6">
                            <%= link_to pet_path(favourite.pet) do%>
                              <div class="card">
                                <% if favourite.pet.photo.attached? %>
                                <%=cl_image_tag favourite.pet.photo.key %>
                                <% else %>
                                <%= image_tag "default-image.png", class: "card-img-top" %>
                                <% end %>
                                  <div class="card-body">
                                    <h4 class="card-text">Name: <%= favourite.pet.name %></h4>
                                    <p class="card-text">Species: <%= favourite.pet.species %></p>
                                    <p class="card-text">Breed: <%= favourite.pet.breed %></p>
                                    <p class="card-text">Age: <%= favourite.pet.age %></p>
                                    <p class="card-text">
                                    </p>
                                    <div align="right">
                                      <%= link_to pet_path(favourite.pet), data: {turbo_method: :delete, turbo_confirm: "Are you sure you wish to remove this pet as a favourite?"} do %>
                                          <i class="fa-solid fa-trash-can card-text" ></i>
                                      <% end %>
                                  </div>
                              </div>
                            <% end %>
                          </div>
                        <% end %>
                      </div>
                    </ul>
            <% else %>
              <h2> You currently don't have any favourite pets!</h2>
            <% end %>
            <br>
            <div align="center">
              <%= link_to "Have a look at all the pets waiting for homes...", pets_path, class: 'btn-ghost' %>
            </div>
            <br>
    <br>
            <% if @user.pets.count > 0 && @user.owned_pet_applications.any? %>
              <h2>Good news! You have adoption applications waiting for your review:</h2>
                <br>
                <h2>The following pets have applications for your review:</h2>
                  <% @user.owned_pet_applications.each do | pet_app | %>
                    <div class="col-md-6 my-6">
                                    <%= link_to pet_path(pet_app.pet) do%>
                                      <div class="card">
                                        <% if pet_app.pet.photo.attached? %>
                                        <%=cl_image_tag pet_app.pet.photo.key %>
                                        <% else %>
                                        <%= image_tag "default-image.png", class: "card-img-top" %>
                                        <% end %>
                                        <div class="card-body">
                                          <h4 class="card-text">Name: <%= pet_app.pet.name %></h4>
                                          <p class="card-text">Species: <%= pet_app.pet.species %></p>
                                          <p class="card-text">Breed: <%= pet_app.pet.breed %></p>
                                          <p class="card-text">Age: <%= pet_app.pet.age %></p>
                                          <p class="card-text">
                                          </p>
                                            <div align="center">
                                              <%= link_to "Review this application", application_path(@user.owned_pet_applications), class: 'btn-ghost' %>
                                            </div>
                                        </div>
                                      </div>
                                    <% end %>
                                  </div>
                          <% end %>
                <% end %>
                  <% if @user.applications.any? %>
                    <h2>You have submitted adoption applications for the following pets:</h2>
                          <ul class="list-group mb-3">
                              <div class="row">
                                <% @user.applications.each do |pet_app| %>
                                    <div class="col-md-4">
                                    <%= link_to pet_path(pet_app.pet) do%>
                                      <div class="card">
                                        <% if pet_app.pet.photo.attached? %>
                                        <%=cl_image_tag pet_app.pet.photo.key %>
                                        <% else %>
                                        <%= image_tag "default-image.png", class: "card-img-top" %>
                                        <% end %>
                                        <div class="card-body">
                                          <h4 class="card-text">Name: <%= pet_app.pet.name %></h4>
                                          <p class="card-text">Species: <%= pet_app.pet.species %></p>
                                          <p class="card-text">Breed: <%= pet_app.pet.breed %></p>
                                          <p class="card-text">Age: <%= pet_app.pet.age %></p>
                                          <p class="card-text">
                                          </p>
                                            <div align="center">
                                              <%= button_to("Review your application", application_path(@user.submitted_application), method: "get", :class => "btn-ghost")%>
                                              <div align="right">
                                                <%= link_to application_path(@user.submitted_application), data: {turbo_method: :delete, turbo_confirm: "Are you sure you wish to cancel your application for this pet?"} do %>
                                                    <i class="card-text" ></i>
                                                <% end %>
                                                  <br>
                                              </div>
                                            </div>
                                        </div>
                                      </div>
                                    <% end %>
                                  </div>
                                <% end %>
                              </div>
                            </ul>
            <% else %>
              <h2> You currently don't have any applications pending!</h2>
            <% end %>
            <br>
            <br>
          </div>
    </div>
 </div>
</div>
