<div class="home-container">
  <div class="banner-homepage">
      <div class="title">
    <h1 class="text-success"> 4Doption</h1>
    <p class="text-body"> Find your new best friend...</p>
     <%= link_to "See All Pets", pets_path, class: "btn btn-primary" %>
     <%= form_with url: pets_path, method: :get, class: "d-flex" do %>
      <%= text_field_tag :query,
        params[:query],
        class: "form-control",
        placeholder: "Search by location"
      %>
  <%= submit_tag "Search", class: "btn btn-primary" %>
<% end %>
      </div>
  </div>

  <div class="row justify-content-center px-5">
    <div align=center>
      <br>
        <h2>Take a look at some of our pets available for adoption...</h2>
          </div>
            <% @pets.each do |pet| %>
              <div class="col-md-3 my-3 landing-page-card">
                <%= link_to pet_path(pet), class: 'text-decoration-none' do %>
                  <div class="card">
                    <%= image_tag "#{pet.species.parameterize}.jpg", class: "card-img-top" %>
                    <div class="card-body">
                      <h4 class="card-text"> <%= pet.name %></h4>
                      <p class="card-text">Species: <%= pet.species %></p>
                      <p class="card-text">
                    </div>
                  </div>
              <% end %>
            </div>
          <% end %>
      </div>
</div>
