<div class="home-container">
  <div class="banner-homepage">
      <div class="title">
    <h1 class="text-body"> 4Doption</h1>
    <p class="text-body"> Adopt your new best friend...</p>
    <div class="d-flex align-items-center search-bar-btns">
     <%= form_with url: pets_path, method: :get, class: "d-flex" do %>
      <%= text_field_tag :query,
        params[:query],
        class: "form-control search-btn",
        placeholder: "Search by location"
      %>
      <%= submit_tag "Search", class: "search-btn center" %>
      <% end %>
      <%= link_to "Browse All Pets", pets_path, class: "browse-btn" %>
      </div>
      </div>
  </div>




<div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-inner">
      <% @pets.each_slice(4).with_index do |pet, index| %>
        <div class="carousel-item <%= 'active' if index == 0 %>">
          <div class="row justify-content-center">
            <% 4.times do |i| %>
              <div class="col-md-3 my-3 landing-page-card">
                <%= link_to pet_path(pet), class: 'text-decoration-none' do %>
                  <div class="card">
                  <% if pet[i].photo.attached? %>
                    <%= cl_image_tag pet[i].photo.key, class: "card-img" %>
                  <% else %>
                    <%= image_tag "#{pet[i].species.downcase}.jpg", class: "card-img" %>
                  <% end %>
                    <div class="card-body">
                      <h4 class="card-text"> <%= pet[i].name %></h4>
                      <p class="card-text">Species: <%= pet[i].species %></p>
                      <p class="card-text">
                    </div>
                  </div>
                <% end %>
              </div>
            <% end %>
          </div>
        </div>
     <% end %>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
